@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    background-color: #292929;
}

body {
    text-align: center;
}

p {
    color: white;
}

h1, h2, h3{
    text-align: center;
    font-family: 'Righteous', cursive;
}

label {
    color: white;
    text-align: center;
}

input {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #414141;
}

nav {
    width: 100%;
    background-color: #414141;
}

nav ul {
    list-style-type: none;
    padding-left: 0;
    margin-right: 600px;
}

nav li {
    float: left;
}

nav a {
    display: block;
    width: 100px;
    background-color: deepskyblue;
    text-decoration: none;
    text-align: center;
    margin: 1px;

    font-family: 'Lato', sans-serif;
}

nav a:visited {
    color: #414141;
}

nav a:hover {
    background-color: dodgerblue;
}

nav a:active {
    color: #414141;
}

section ul li a {
    color: white;
}

section ul li a:visited {
    color: white;
}

section ul li a:hover {
    color: deepskyblue;
}

section ul li a:active {
    color: dodgerblue;
}

nav h1 {
    color: deepskyblue;
    text-decoration: underline;
    margin-right: auto;
    margin-left: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.documentList {
    display: flex;
    text-align: justify;
}

.documentList ul {
    color: white;
    list-style-type: decimal;
    width: 100%;
}

.documentList ul h3 {
    text-align: left;
}

.documentList ul li {
    color: white;
    font-family: 'Lato', sans-serif;
}


.h1 {
    color: deepskyblue;
    margin-right: auto;
    margin-left: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin-bottom: 50px;
}

ul h3 {
    color: deepskyblue;
    margin-right: auto;
    margin-left: 10px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#instMSG {
    width: 45%;
    height: 45%;
}

.login {
    text-align: center;
    display: inline-block;
    margin-top: 15px;
    background-color: deepskyblue;
}

.report {
    color: white;
    margin-bottom: 100px;
    width: 30%;
    text-align: justify;
}

.imgbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.galleriakuva {
    border-radius: 17%;
}

.clearfix::after {
     content: "";
     clear: both;
     display: table;
}

.font {
    font-style: italic;
}

.username {
    background-color: deepskyblue;
}

.usernameLabel {
    margin-top: 20px;
}

.password {
    background-color: deepskyblue;
}

#typess {
    margin-top: 50px;
}

#footertext {
    color: deepskyblue;
    padding-top: 40px;
    font-size: larger;
    font-family: 'Lato', sans-serif;
    font-style: italic;
    margin-top: 40px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#map {
    height: 400px;
    width: 100%;
}

#table {
    color: white;
    text-align: center;
    width: 100%;
    padding-left: 420px;
    padding-right: 350px;
}

table tr th {
    padding: 10px;
    font-size: large;
}